@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 34, 34;
    --background-end-rgb: 17, 17, 17;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      135deg,
      rgba(var(--background-start-rgb), 0.85) 0%,
      rgba(var(--background-end-rgb), 0.85) 100%
    ),
    url('/house.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  text-align: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .card {
    @apply bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 mb-4;
  }

  .button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

header, footer {
  position: relative;
  z-index: 10;
  width: 100%;
}
